@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
#hero {
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url("../assets/hero-bg.png");
  height: 919px;
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  display: flex;
  align-items: center;
  gap: 20px;
}

#hero .hero-content {
  /* display: flex; */
  width: 870px;
  margin: 0 auto;
}

#hero .hero-content .subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 13px;
}

#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 21px;
}

#hero .hero-content .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 30px;
}

.btn-container {
  text-align: center;
}
button {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 6px;

  padding: 21px 32px 21px 32px;

  background: rgb(82, 195, 3);
  border: none;
}

#favoritebrands {
  width: 1000px;
  margin: 100px auto;
}

#favoritebrands .card-container {
  margin-top: 30px;
  display: flex;
  gap: 25px;
}
#favoritebrands .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: center;
}

#favoritebrands .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#favoritebrands .subtitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}

#favoritebrands .card-box {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

#favoritebrands .card-box .image-box {
  width: 320px;
}

#favoritebrands .card-box .image-box img {
  width: 320px;
}

#favoritebrands .card-box .shop {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  padding: 14px 32px 14px 32px;

  background: rgba(82, 195, 3, 0.15);
}

#outro .container {
  display: flex;
}

#outro .outro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
